<nav class="navbar navbar-dark bg-dark cotainer-fluid">
    <h1 class="navbar-brand px-2">Gift Card Application</h1>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <form class="form-inline m-3 text-end">
    <%= link_to "Signup" , signup_path, method: :get, class: "text-light bg-dark text-decoration-none" %><br>
  </form>
  <form class="form-inline p-3 text-end">
    <%= link_to "Login" , login_path, method: :get, class: "text-light bg-dark text-decoration-none"  %>
    </form>
    </div>
</nav>
<div align="center" class="card">
    <h1>Welcome to Gift Card Application</h1>
</div>
</div>

